{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
</head>
  <body>
    <style>
      *{
        color: #745959;
      }
      .main{
        padding-left:3%;
        display: grid;
        grid-template-columns: 45% auto;
      }
      button{
        margin:1em;
        margin-left:5em;
      }
      img{
        height:35em;
        width:45em;
        transition:all 0.5s ease;
      }
      img:hover{
        height:40em;
        width:50em;
        transition:all 0.5s ease;
      }
      .prof button[type=submit]:hover{
        background: #87ff9b;
      }
      .student button[type=submit]:hover{
        background: #a3d5ff;
     }
    </style>
      <nav class="navbar navbar-light" style="background-color:#eb7563">
        <a class="navbar-brand"  style="color: white; padding-left: 5em;">
          METU Safe Exam System
        </a>
      </nav>
      <div class="main">
        <div class="abt">
          <br><br>
          <h1>MSES</h1>
          <br>
          <h5>Thanks to advances in communication and mobile electronic devices and because of
                the COVID-19 outbreak, online courses and different forms of remote education continue
                to grow its popularity day by day. The nature of the education process requires testing
                the students’ knowledge about the course, or the topic examination process is also an
                essential part of remote education. Since the examination process should be honest and
                equal for every participant, the institution should ensure this equality. To maintain security and equality, most institutions choose human proctoring via a webcam, but that
                approach is not efficient. </h5>
          <br>
          <h5> We introduce a solution to this problem with an AI-powered
                online proctoring system. With MSES, we want to achieve more secure, just and efficient
                proctoring while recording exam takers video during examination, blocking other programs and screens, logging keyboard and mouse activities and process this data on cloud.
                Also MSES provides an easy-to-use examination environment with custom configurations
                to teachers, establishments and institutions.</h5>
          <br><br>
          <div class="prof">
            <h2>Proctor Section: </h2>
            <div class="row">
              <form method="get" action="{% url 'faculty-login' %}">
                  <button type="submit" class="btn btn-raised btn-lg" style="color: #745959">Login</button>
              </form>
              <form method="get" action="{% url 'faculty-register' %}">
                  <button type="submit" class="btn btn-raised btn-lg" style="color: #745959">Signup</button>
              </form>
            </div>
          </div>
          <br><br>
          <div class="student">
            <h2>Student Section: </h2>
              <div class="row">
              <form method="get" action="{% url 'login' %}">
                  <button type="submit" class="btn btn-raised btn-lg" style="color: #745959">Login</button>
              </form>
              <form method="get" action="{% url 'register' %}">
                  <button type="submit" class="btn btn-raised btn-lg" style="color: #745959">Signup</button>
              </form>
            </div>
          </div>
        </div>
        <div class="img">
          <img src="{% static 'img/9.2.png' %}" alt="">
        </div>
    </div>
  </body>
</html>
